
<head>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive Resume Template">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="favicon.ico"> 
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    
    <!-- FontAwesome JS
	<script defer src="assets/fontawesome/js/all.min.js"></script>-->
       
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="assets/css/resume1.css">


</head> 

<body>	

    <article class="resume-wrapper text-center position-relative">
	    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
		    <header class="resume-header pt-4 pt-md-0">
			    <div class="media flex-column flex-md-row">
				    <img class="mr-3 img-fluid picture mx-auto" src="assets/images/profile.jpg" alt="">
				    <div class="media-body p-4 d-flex flex-column flex-md-row mx-auto mx-lg-0">
					    <div class="primary-info">
						    <h6 class="name mt-0 mb-1 text-white text-uppercase text-uppercase">Ornella Vaccarelli</h6>
						    <!--<div class="title mb-3">Full Stack Developer</div>-->
						    <ul class="list-unstyled">
							    <li class="mb-2"><a href="#"><i class="far fa-envelope fa-fw mr-2" data-fa-transform="grow-3"></i>ovaccarelli@gmail.com</a></li>
							    <li class="mb-2"><a href="#"><i class="fas fa-mobile-alt fa-fw mr-2" data-fa-transform="grow-6"></i>+33 768 423177</a></li>
								<li><a href="#"><i class="fas fa-solid fa-address-card fa-fw mr-2" data-fa-transform="grow-3"></i>Luxembourg</a></li>
						    </ul>
					    </div><!--//primary-info-->
					    <div class="secondary-info ml-md-auto mt-2">
						    <ul class="resume-social list-unstyled">
				                <li class="mb-3"><a href="linkedin.com/in/ornella-vaccarelli-741505171/"><span class="fa-container text-center mr-2"><i class="fab fa-linkedin-in fa-fw"></i></span>linkedin</a></li>
				                <li class="mb-3"><a href="https://github.com/ovaccarelli"><span class="fa-container text-center mr-2"><i class="fab fa-github-alt fa-fw"></i></span>github</a></li> 
				                <!-- <li class="mb-3"><a href="#"><span class="fa-container text-center mr-2"><i class="fab fa-codepen fa-fw"></i></span>codepen.io/username/</a></li> -->
				                <li><a href="https://ovaccarelli.github.io/"><span class="fa-container text-center mr-2"><i class="fas fa-globe"></i></span>ovaccarelli.github.io</a></li>
						    </ul>
					    </div><!--//secondary-info-->
					    
				    </div><!--//media-body-->
			    </div><!--//media-->
		    </header>
		    <div class="resume-body p-5">
			    <section class="resume-section summary-section mb-5">
				    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Summary</h3>
				    <div class="resume-section-content">
					    <p class="mb-0">An experienced, resourceful and highly talented Sr. Research Scientist with different and proficuous years working in multi-national groups. 
							Accomplished and focused professional with demonstrated experience in the study of the structures and physical properties of various materials, 
							from the micro to the macroscale level. Recognized for professionalism, positive mental attitude, commitment to excellence, and natural ability 
							for critical thinking and complex problems solving. Excellent interpersonal skills, self-motiveted, and able to communicate and collaborate 
							effectively with co-workers at all levels. </p>
							<p> Expert in various Computer applications including Mathematical Analysis Software and Computer Programming Language. </p>
				    </div>
			    </section><!--//summary-section-->
			    <div class="row">
				    <div class="col-lg-9">
					    <section class="resume-section experience-section mb-5">
						    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Professional Experience</h3>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    <article class="resume-timeline-item position-relative pb-4">
									    
									    <div class="resume-timeline-item-header mb-1">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Senior Research Scientist</h3>
										        <div class="resume-company-name ml-auto">Luxembourg</div>
										    </div><!--//row-->
											<div class="resume-position-time">2018 - Present | <b>Theoretical Chemical Physics group (TCP) - University of Luxembourg</b></div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p class="mb-1"> Computational and fundamental study of molecules and materials.</p>
											<ul>
											    <li>The structure and stability of molecular systems bonded by van der Waals (vdW) interactions are governed by the interplay between dispersion 
													attraction and Pauli repulsion. Arising due to different physical origins, these forces do not seem to have a simple connection. The main goal 
													of our work is to build a self-consistent model for studying these two energies based on the quantum drude model oscillator (QDO). Therefore, 
													our findings hint to explore the potential usefulness of the QDO for vdW-bonded systems as a complete building block to develop next-generation 
													quantum force fields.</li>
											    <li>Organic monolayers and thin films interacting with extended metal surfaces have been attracting much interest to develop new electronic devices.
													However, a correct description of the equilibrium structure and dynamic properties of these complex systems from first principles
													represent a challenging task to the state-of-the-art theoretical methods. In particular, the standard DFT methods underestimate the effect of 
													the non-local dispersion interactions which play a dominant role in determining the structure and stability of organic molecules on solid
													surfaces. In this work, we use the recently developed first-principle approach, that properly takes into account van der Waals interactions 
													dispersion effects for these organic-inorganic materials, to investigate the adsorption of 
													acenes molecules on metal surfaces.</li>
										    </ul>
										    <!--
											<h5 class="resume-timeline-item-desc-heading font-weight-bold">Achievements:</h5>
										    <p>Praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
										    <ul>
											    <li>Lorem ipsum dolor sit amet, 80% consectetuer adipiscing elit.</li>
											    <li>At vero eos et accusamus et iusto odio dignissimos.</li>
											    <li>Blanditiis praesentium voluptatum deleniti atque corrupti.</li>
											    <li>Maecenas tempus tellus eget.</li>
										    </ul>
										    <h5 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h5>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Angular</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Python</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">jQuery</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">PostgresSQL</span></li>
										    </ul>
											-->
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->
								    
								    <article class="resume-timeline-item position-relative pb-4">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Holder of a Research Grant</h3>
										        <div class="resume-company-name ml-auto">Bari, Italy</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2014 - 2015 | <b>Physics Department “M. Merlin” - University of Bari</b></div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p class="mb-1"> Ghost Imaging and Plenoptic Correlation.</p>
											<ul>
												<li>In this project, I have studied Plenoptic imaging with thermal-light correlations. A camera is an optical device 
													which creates a single image of an object. Ordinary cameras collect the light
													scattered from this object on a matrix of sensors (the CCD), but do not record the information about the
													direction of the light. The goal of the Plenoptic Camera is to re-capture this lost information, but, to achieve
													this, spatial resolution decreases. The thermal ghost-imaging technique is based on space-time coincidence
													counting and this correlation measurement is used to decoupling the detections of spatial and directional
													information in a Plenoptic Camera. In this study, I focused on theoretical aspects with the aid of simulations in
													Wolfram Mathematica.</li>
											</ul>
										    <!--
											<h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements</h4>
										    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">React</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Redux</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
										    </ul>
											-->
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->								    								    								    								    
								    
							    </div><!--//resume-timeline-->
							    
							</div>   
						   
						</section><!--//experience-section-->

						<section class="resume-section experience-section mb-5">	    
						    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Education</h3>
						    <div class="resume-section-content">
							    <div class="resume-timeline position-relative">
								    
								    <article class="resume-timeline-item position-relative pb-4">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">PhD in Computational and Theoretical Physics</h3>
										        <div class="resume-company-name ml-auto">Paris, France</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2015 - 2018 | <b>Institut de minéralogie, de physique des matériaux et de cosmochimie (IMPMC) - Sorbonne University</b></div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p class="mb-1"> <b>Thesis:</b>"Exotic phenomena in the new frustrated spin ladder Li<sub>2</sub>O(CuSO<sub>4</sub>)<sub>2</sub>"</p>
										    <ul>
												<li>During my PhD project, I have investigated the magnetic properties of a new frustrated two-leg spin ladder,
													Li<sub>2</sub>O(CuSO<sub>4</sub>)<sub>2</sub>, through a combined experimental and theoretical approaches.
													I acquired working on first-principle calculations (DFT and DFT+U), as they are currently implemented in QUANTUM ESPRESSO,
													and I solved spin Hamiltonian, parametrized ab-initio, using Exact Diagonalization. Furthermore, I also took
													a closer look in the world of experimental physics. In particular, I took part of IR spectroscopy measurements
													(at the IMPMC in Paris) and inelastic neutron scattering experiment (at the ILL in Grenoble) in order to
													investigate the magnetic excitations of our system in its low temperature dimerized phase.
												</li>
											</ul>
											<!--
											<h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements</h4>
										    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">React</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Redux</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
										    </ul>
											-->
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->								    								    								    								    
								    <article class="resume-timeline-item position-relative pb-4">
									    
									    <div class="resume-timeline-item-header mb-2">
										    <div class="d-flex flex-column flex-md-row">
										        <h3 class="resume-position-title font-weight-bold mb-1">Master Degree in Theoretical Physics</h3>
										        <div class="resume-company-name ml-auto">Bari, Italy</div>
										    </div><!--//row-->
										    <div class="resume-position-time">2012 - 2014 | <b>Physics Department “M. Merlin” - University of Bari</b></div>
									    </div><!--//resume-timeline-item-header-->
									    <div class="resume-timeline-item-desc">
										    <p class="mb-1"> <b>Thesis:</b>"Entanglement in many-body system"</p>
										    <ul>
												<li>In my Master thesis
													I have studied the correlation between the components of a spin-1/2 Heisenberg chain interacting with an
													external magnetic field.
													The system, as the degree of disorder introduced by the magnetic field increases, has a phase transition that
													can be displayed by exploiting the phenomenon of quantum entanglement. In this work I used high-level
													Python, developing the use of sparse matrices.
												</li>
											</ul>
											<!--
											<h4 class="resume-timeline-item-desc-heading font-weight-bold">Achievements</h4>
										    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
										    <h4 class="resume-timeline-item-desc-heading font-weight-bold">Technologies used:</h4>
										    <ul class="list-inline">
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">React</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Redux</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Django</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">Webpack</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">HTML/SASS</span></li>
											    <li class="list-inline-item"><span class="badge badge-primary badge-pill">MySQL</span></li>
										    </ul>
											-->
									    </div><!--//resume-timeline-item-desc-->

								    </article><!--//resume-timeline-item-->		
						    
							    </div><!--//resume-timeline-->							    
						    </div>
					    </section><!--//education-section-->
					    
						<section class="resume-section conference-section mb-5">
						    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-2">Relevant Conferences & Seminars</h3>
						    <div class="resume-section-content">							
								<ul class="list-unstyled">
								    <li>
										<span class="resume-conf"><b>APS March Meeting 2021</b> - Talk</span>
										<span class="resume-conf-time"> ( March 15–19, 2021 | <b>online</b> )</span>
								    </li>
									<li>
										<span class="resume-conf"><b>DPG Spring Meeting 2019</b> - Talk</span>
										<span class="resume-conf-time"> ( March 31 – April 05, 2019 | <b>Regensburg - Germany</b> )</span>
								    </li>
									<li>
										<span class="resume-conf"><b>JEMS Conference 2018</b> - Talk</span>
										<span class="resume-conf-time"> ( September 3–7, 2018 | <b>Mainz - Germany</b> )</span>
								    </li>
									<li>
										<span class="resume-conf"><b>Journée d’échange MiChem</b> - Invited Talk</span>
										<span class="resume-conf-time"> ( June 15, 2018 | <b>Paris - France</b> )</span>
								    </li>
									<li>
										<span class="resume-conf"><b>WE-Heraeus-Seminar</b> - Invited Talk</span>
										<span class="resume-conf-time"> ( June 4–8, 2018 | <b>Bad Honnef - Germany</b> )</span>
								    </li>
									<li class="mb-0">
										<span class="resume-conf"><b>APS March Meeting 2018</b> - Talk</span>
										<span class="resume-conf-time"> ( June 4–8, 2018 | <b>Los Angeles - Germany</b> )</span>
								    </li>
								    <!--
									<li>
								        <div class="resume-conf font-weight-bold">BSc Maths and Physics</div>
								        <div class="resume-conf-org">Imperial College London</div>
								        <div class="resume-conf-time">2007 - 2010</div>
								    </li>
									-->
							    </ul>
								
						    </div>
					    </section>
						<!--//conference-section-->

						<section class="resume-section publications-section mb-5">
						    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-2">Major Pubblications</h3>
						    <div class="resume-section-content">							
								<ul class="list-unstyled">
									<li><a href="https://journals.aps.org/prresearch/abstract/10.1103/PhysRevResearch.3.033181"><b>Quantum-Mechanical Force Balance Between Multipolar Dispersion and Pauli Repulsion in Atomic van der Waals Dimers</b></a><br>
										<span style="font-variant: small-caps;">O. Vaccarelli</span>, D.V. Fedorov, M. Stöhr, and A Tkatchenko, <em>Phys. Rev. Research 3, 033181</em> (<b2>2021</b2>)
									</li>
									<li><a href="https://journals.aps.org/prb/abstract/10.1103/PhysRevB.99.064416"><b>Triplet excitations in the frustrated spin ladder Li<sub>2</sub>Cu<sub>2</sub>O(SO<sub>4</sub>)<sub>2</sub></b></a><br>
										<span style="font-variant: small-caps;">O. Vaccarelli</span>, A. Honecker, P. Giura, K. Béneut, B. Fåk, G. Rousse, and G. Radtke, <em>Phys. Rev. B 99 (6), 064416</em> (<b2>2019</b2>)
									</li>
									<li><a href="https://www.spiedigitallibrary.org/conference-proceedings-of-spie/10771/2321191/Exploring-plenoptic-properties-of-correlated-light/10.1117/12.2321191.short"><b>Exploring plenoptic properties of correlated light</b></a><br>
										F. V. Pepe, F. Di Lena, <span style="font-variant: small-caps;">O. Vaccarelli</span>, A. Garuccio, G. Scarcelli, and M. D'Angelo, <em>Quantum Com. XVI 10771, 1077102</em> (<b2>2018</b2>)
									</li>
									<li><a href="https://journals.aps.org/prb/abstract/10.1103/PhysRevB.96.180406"><b>Magnetic dimerization in the frustrated spin ladder Li<sub>2</sub>Cu<sub>2</sub>O(SO<sub>4</sub>)<sub>2</sub></b></a><br>
										<span style="font-variant: small-caps;">O. Vaccarelli</span>, G. Rousse, A. Saúl, and G. Radtke, <em>Phys. Rev. B 96 180406(R)</em> (<b2>2017</b2>)
									</li>
									<li><a href="https://iopscience.iop.org/article/10.1088/2040-8986/aa7b0d/meta"><b>Exploring plenoptic properties of correlation imaging with chaotic light</b></a><br>
										F. V. Pepe, <span style="font-variant: small-caps;">O. Vaccarelli</span>, A. Garuccio, G. Scarcelli, M. D’Angelo, <em>Journal of Optics 19.11 114001</em> (<b2>2017</b2>)
									</li>
									<li><a href="https://journals.aps.org/prb/abstract/10.1103/PhysRevB.95.144103"><b>Low-temperature structural transition in the quasi-one-dimensional spin-1/2 compound Li<sub>2</sub>Cu<sub>2</sub>O(SO<sub>4</sub>)<sub>2</sub></b></a><br>
										G. Rousse, J. Rodríguez-Carvajal, C. Giacobbe, M. Sun, <span style="font-variant: small-caps;">O. Vaccarelli</span>, and G. Radtke, <em>Phys. Rev. B 95 144103</em> (<b2>2017</b2>)
									</li>
								    <!--
									<li>
								        <div class="resume-conf font-weight-bold">BSc Maths and Physics</div>
								        <div class="resume-conf-org">Imperial College London</div>
								        <div class="resume-conf-time">2007 - 2010</div>
								    </li>
									-->
							    </ul>
								
						    </div>
					    </section>
						<!--//pubblications-section-->

				    </div>
				    <div class="col-lg-3">
					    <section class="resume-section skills-section mb-5">
						    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Skills</h3>
						    <div class="resume-section-content-lan">
						        <div class="resume-skill-item">
							        <h5 class="resume-skills-cat font-weight-bold mb-0">Programming Languages</h5>
							        <ul class="list-unstyled mb-3">
								        <li class="mb-2">
								            <div class="resume-skill-name">Python, Fortran, Bash</div>
									        <!--
											<div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 98%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											-->
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Mathematica, MatLab</div>
											<!--
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 94%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											-->
								        </li>
								        <li class="mb-2 pb-1">
								            <div class="resume-skill-name">HTML, CSS</div>
											<!--
									        <div class="progress resume-progress">
											    <div class="progress-bar theme-progress-bar-dark" role="progressbar" style="width: 96%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
											</div>
											-->
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->
						        
						        <div class="resume-skill-item">
						            <h5 class="resume-skills-cat font-weight-bold mb-0">Modeling</h5>
							        <ul class="list-unstyled">
								        <li class="mb-2">
								            <div class="resume-skill-name">First-principle codes (QuantumEspresso, FHI-aims)</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name">Molecular Dynamics</div>
								        </li>
								        <li class="mb-2 pb-3">
								            <div class="resume-skill-name">Basic of Machine Learning</div>
								        </li>
							        </ul>
						        </div><!--//resume-skill-item-->
						        
						        <div class="resume-skill-item">
						            <h5 class="resume-skills-cat font-weight-bold mb-0">Others</h5>
									<ul class="list-unstyled">
										<li>Strong problem-solving and analytical skill with advanced programming and computational proficiency</li>
										<li>Experience working in research teams on interdisciplinary projects at the intersection of physics, chemistry, and biology</li>
										<li>Excellent attention to detail, strong verbal and written communication skills</li>
										<li>Strong organizational and planning skills to complete and manage multiple projects simultaneously</li>
									</ul>
						            <!--
									<ul class="list-inline">
							            <li class="list-inline-item"><span class="badge badge-light">DevOps</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Code Review</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Git</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Unit Testing</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Wireframing</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Sketch</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Balsamiq</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">WordPress</span></li>
							            <li class="list-inline-item"><span class="badge badge-light">Shopify</span></li>
						            </ul>
									-->
						        </div><!--//resume-skill-item-->
						    </div><!--resume-section-content-->
					    </section><!--//skills-section-->

					    <section class="resume-section reference-section mb-5">
						    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Awards</h3>
						    <div class="resume-section-content-lan">
							    <ul class="list-unstyled resume-awards-list">
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">European Patent</div>
								        <div class="resume-award-desc">Device and process for the plenoptic capture of images.</div>
								    </li>
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Inventor's declaration</div>
								        <div class="resume-award-desc">PCT International application number 16646712.</div>
								    </li>
								    <li class="mb-2 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Reaserch Grant - Project "MASSIME"</div>
								        <div class="resume-award-desc">Ghost Imaging and Plenoptic Correlation.</div>
								    </li>
								    <li class="mb-0 pl-4 position-relative">
								        <i class="resume-award-icon fas fa-trophy position-absolute" data-fa-transform="shrink-2"></i>
								        <div class="resume-award-name">Physics olympiads (highschool)</div>
								    </li>
							    </ul>
						    </div>
					    </section><!--//interests-section-->
					    <section class="resume-section language-section mb-5">
						    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Languages</h3>
						    <div class="resume-section-content-lan">
							    <ul class="list-unstyled resume-lang-list">
								    <li class="mb-2"><span class="resume-lang-name font-weight-bold">Italian</span> <small class="text-muted font-weight-normal">(Native)</small></li>
								    <li class="mb-2 align-middle"><span class="resume-lang-name font-weight-bold">Enghish</span> <small class="text-muted font-weight-normal">(Full Professional Proficiency)</small></li>
								    <li><span class="resume-lang-name font-weight-bold">French</span> <small class="text-muted font-weight-normal">(Full Professional Proficiency)</small></li>
							    </ul>
						    </div>
					    </section><!--//language-section-->
					    <section class="resume-section interests-section mb-5">
						    <h3 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Interests</h3>
						    <div class="resume-section-content">
							    <ul class="list-unstyled">
								    <li class="mb-1">Volleyball player</li>
								    <li class="mb-1">Board games</li>
									<li class="mb-1">Mathematical puzzels</li>
									<li class="mb-1">Cooking</li>
							    </ul>
						    </div>
					    </section><!--//interests-section-->
					    
				    </div>
			    </div><!--//row-->
		    </div><!--//resume-body-->
		    
		    
	    </div>
    </article>  


    

</body>


